<?xml version="1.0" encoding="utf-8"?>
<SystemConfig>
  <EnglishLanguage>false</EnglishLanguage>
  <TargetMCU>
    <Index>4</Index>
  </TargetMCU>
  <CrystalIndex>0</CrystalIndex>
  <HexFile>E:\Git-category\git-MCU-HDSC\MCU-HDSC-APP\APP\I2C-AHT20\MDK\output\AHT20.hex</HexFile>
  <Com>COM2</Com>
  <AutoNumber>
    <AutoNumberSelected>false</AutoNumberSelected>
    <AotuNumberStartAddr></AotuNumberStartAddr>
    <Length></Length>
    <StartNum></StartNum>
    <Interval></Interval>
    <CurrentNum></CurrentNum>
    <HistoryNum></HistoryNum>
  </AutoNumber>
  <ChipErase>true</ChipErase>
  <Erase>true</Erase>
  <BlankCheck>true</BlankCheck>
  <Program>false</Program>
  <Verify>false</Verify>
  <Encrypt>false</Encrypt>
  <Encrypt2>false</Encrypt2>
  <Disorder></Disorder>
</SystemConfig>